@import url("./themes/blasphemous-echoes-of-salt/sysinfo-theme.css");

/*  Waybar — Painel vertical (Sysinfo)  */

* {
    font-family: "JetBrainsMono Nerd Font", "Terminus (TTF)", "Symbols Nerd Font Mono";
    font-size: 11px;
    border: none;
    border-radius: 0;
    min-height: 0;
    padding: 0;
    margin: 0;
}

/* -- Window default -------------------------------------- */
window#waybar {
  min-width: 380px;
  color: @th-foreground;
  border-radius: 0px;
  border: 1px solid @th-border;
  background: @th-window-bg;
}

/* -- Container  ------------------------------------------ */
.modules-left {
  padding: 8px 0;
}

/* -- Base ------------------------------------------------ */
#custom-header-system,
#custom-header-temperature-usage_cpu-gpu,
#custom-header-memory,
#custom-header-top-processes,
#custom-top-processes,
#custom-header-storage,
#custom-header-network,
#custom-header-keys,
#custom-system,
#custom-keys,
#custom-network {
    padding: 1px 16px;
    color: @th-foreground;
    background: transparent;
}

/* -- Header --------------------------------------------- */
#custom-header-system,
#custom-header-temperature-usage_cpu-gpu,
#custom-header-memory,
#custom-header-top-processes,
#custom-header-storage,
#custom-header-network,
#custom-header-keys {
    color: @th-header;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 16px 2px 16px;
    border-top: 1px solid @th-border-header;
    margin-top: 4px;
}

#custom-header-system {
  padding-top: 10px;
}

/* -- Font ----------------------------------------------- */
#custom-system,
#custom-temperature-usage_cpu-gpu,
#custom-memory,
#custom-top-processes,
#custom-storage,
#custom-network,
#custom-keys {
  color: @th-foreground;
  font-size: 14px;
  margin-bottom: 20px;
}

/* ── Processes ------------------------------------------ */
#custom-top-processes {
  font-size: 10px;
}

#network.disconnected {
  color: @th-disconnected;
}

@keyframes blink {
  50% { opacity: 0.6; }
}
