# Linux
# -------------------------------------------------------------
*~
*.bak

# This repo
# -------------------------------------------------------------
tmp/
src/config/quickshell/*.zip
src/config/quickshell/*.png
TODO.txt
