/* theme: minimal */
* {
    th-bg:            rgba(47, 53, 65, 100%);
    th-fg:            rgb(166, 184, 196);
    th-fg-selected:   rgba(166, 184, 196, 100%);
    th-row-alt:       rgba(59, 67, 82, 50%);
    th-row-selected:  rgba(32, 36, 46, 0.90);
    th-border-color:  rgba(59, 67, 82, 1);
    th-separator:     rgba(59, 67, 82, 0.5);
}
