/* theme: blasphemous-fragment-of-guilt */
* {
    th-bg:            rgba(40, 40, 38, 92%);
    th-fg:            rgb(137, 177, 169);
    th-fg-selected:   rgba(216, 224, 222, 100%);
    th-row-alt:       rgba(216, 224, 222, 6%);
    th-row-selected:  rgba(60, 65, 62, 0.85);
    th-border-color:  rgba(137, 177, 169, 0.45);
    th-separator:     rgba(137, 177, 169, 0.30);
}
