/* theme: hyprashen */
* {
    th-bg:            rgba(24, 24, 24, 100%);
    th-fg:            rgb(162, 162, 162);
    th-fg-selected:   rgb(16, 16, 16);
    th-row-alt:       rgba(34, 34, 34, 0.5);
    th-row-selected:  rgba(169, 169, 169, 0.9);
    th-border-color:  rgb(162, 162, 162);
    th-separator:     rgba(156, 156, 156, 0.5);
}
